@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light-primary: #f8f8ed;
  --light-secondary: #36836b;
  --light-text: #262a30;
  --light-accent: #1c2d50;
  --light-accent-secondary: #1c2d50;
  --dark-primary: #54647c;
  --dark-secondary: #1E293B;
  --dark-text: #FEF3C7;
  --dark-accent: #FF8A4C;
  --dark-accent-secondary: #f97316;
}

html {
  scroll-behavior: smooth;
}

.icon:hover {
  filter: drop-shadow(0 0 2em rgba(240, 240, 253, 0.267));
}

.bg-light-primary {
  background-color: var(--light-primary)
}

.bg-light-secondary {
  background-color: var(--light-secondary)
}

.bg-light-accent {
  background-color: var(--light-text)
}

.bg-light-accent-secondary {
  background-color: var(--light-accent)
}

.text-light-primary {
  color: var(--light-text)
}

.text-light-secondary {
  color: var(--light-secondary)
}

.text-light-accent {
  color: var(--light-accent)
}

.border-light-primary {
  border-color: var(--light-secondary)
}

.border-light-secondary {
  border-color: var(--light-accent-secondary)
}

.navBtn-light:hover {
  background-color: var(--light-accent-secondary);
  color: var(--light-secondary)
}

.resumeBtn-light:hover {
  background-color: var(--light-primary);
  color: var( --light-text);
  border-color: var(--light-text)
}

.emailBtn-light:hover {
  background-color: var(--light-primary);
  color: var(--light-text);
  border-color: var(--light-text)
}

/* --------------------------- */

.bg-dark-primary {
  background-color: var(--dark-primary)
}

.bg-dark-secondary {
  background-color: var(--dark-secondary)
}

.bg-dark-accent {
  background-color: var(--dark-text)
}

.bg-dark-accent-secondary {
  background-color: var(--dark-accent)
}

.text-dark-primary {
  color: var(--dark-text)
}

.text-dark-secondary {
  color: var(--dark-secondary)
}

.text-dark-accent {
  color: var(--dark-accent)
}

.border-dark-primary {
  border-color: var(--dark-secondary)
}

.border-dark-secondary {
  border-color: var(--dark-accent-secondary)
}

.navBtn-dark:hover {
  background-color: var(--dark-accent-secondary);
  color: var(--dark-secondary)
}

.resumeBtn-dark:hover {
  background-color: var(--dark-primary);
  color: var(--dark-text);
  border-color: var(--dark-text)
}

.emailBtn-dark:hover {
  background-color: var(--dark-primary);
  color: var(--dark-text);
  border-color: var(--dark-text)
}

/* .border-dark {
  border-color: rgb(251 146 60);
}

.border-dark-divider {
  border-color: rgb(251 146 60);
}

.border-dark-project-divider {
  border-color: rgb(146 64 14);
} */